@import "../../assets/scss/colors/colors";

.rdp-nav {
  border: 1px solid $light-gray;
  border-radius: 6px;
  height: 34px;
  top: 20px;

  button {
    width: 40px;
    height: 34px;

    &:first-of-type {
      border-right: 1px solid $light-gray;
    }

    &:active {
      background-color: $light-gray-3;
    }
  }
}

.rdp-month_caption {
  border-radius: 6px;
  border: 1px solid $light-gray;
  height: fit-content;
  padding: 26px 24px;

  span {
    font-size: 16px;
    font-weight: 600;
    font-family: "PublicSans", sans-serif;
  }
}
