@import "../../assets/scss/colors/colors";

.day-picker-container {
  max-width: 324px;
  width: 100%;

  &-error {
    border-color: $pink;
  }
}

.checkbox {
  border-radius: 100px;
  background-color: $light-gray-2;
  max-width: 90px;
  width: 100%;
  cursor: default;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  time {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--text);
    padding: 4px 15px;
  }
}

.checkbox-container {
  row-gap: 12px;
  margin-top: 24px;
}

.time-select {
  column-gap: 20px;
  font-weight: 600;
  border: 1px solid var(--border-sidebar);
  border-radius: 6px;
  padding: 10px 15px;

  &-error {
    border-color: $pink;
  }

  button {
    font-size: 12px;
  }

  span {
    font-size: 14px;
  }
}

.option-list {
  max-height: 200px;
  width: 100%;
  border: 1px solid var(--border-sidebar);
  border-radius: 6px;
  margin-top: 2px;

  .option {
    padding: 10px 15px;
    color: var(--text);

    &:hover {
      background-color: var(--bg-button-appointments);
    }
  }
}

.remove {
  border-radius: 50%;
  padding: 5px 5px;
  height: 30px;
  background-color: $light-gray-2;

  &:hover {
    background-color: $light-gray-3;
  }
}
