@import "../../assets/scss/colors/colors";
@import "../../assets/scss/breakpoints.scss";

.header {
  // border-bottom: 1px solid $light-gray;
  padding: 14px 10px 14px 10px;
  max-width: 1200px;
  margin: 0 auto;

  @include media-down(lg) {
    row-gap: 10px;
  }

  @include media-up(lg) {
    padding: 14px 23px 14px 55px;
  }

  h1 {
    font-size: 22px;
    line-height: 32px;
  }

  nav {
    column-gap: 24px;
  }
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
