@import "../../assets/scss/colors/colors";

.input-wrapper {
  // max-width: 264px;
  // width: 100%;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
}

.input-container {
  // max-width: 264px;
  // width: 100%;
  height: fit-content;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  padding: 14.5px 24px;
  border: 1px solid $light-gray;
  border-radius: 6px;

  input:focus {
    outline: none;
  }
}

.label {
  font-size: 12px;
  line-height: 21px;
  width: 100%;
  color: $black;
  margin-bottom: 12px;
}

.options {
  border: 1px solid $light-gray;
  border-radius: 6px;
  //   padding: 4px 12px;
  max-width: 264px !important;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  margin-top: 6px;
  color: $black;
  row-gap: 2px;
}

.option {
  padding: 7px 12px;
  border-radius: 6px;
  cursor: default;

  &:hover {
    background-color: $light-gray;
  }
}
