@import "../global";

[btndropdown="false"]{
    --border: #afafaf;
}

[btndropdown="true"]{
    --border: #F38BA0;
}

.container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.137);
    z-index: 250;

    .form{
        position: fixed;
        right: 0px;
        top: 0;
        height: 100%;
        background-color: white;
        padding: 20px;
        width: 350px;
        animation: slide 0.2s ease-out forwards;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .error{
            color: $pink2;
            font-size: 1rem;
            font-weight: 600;
        }
        
        .phone{

            .phone_dropdown{
                position: absolute;
                background-color: white;
                top: 100%;
                padding: 10px 5px;
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.11);
                display: flex;
                flex-direction: column;
                grid-row-gap: 5px;
                row-gap: 5px;
                cursor: default;
                z-index: 50;
                height: max-content;
                width: 80%;

                button{
                    background-color: transparent;
                    font-size: 1.1rem;
                    margin-left: 10px;
                    text-align: left;
                    padding: 2px;
                    border: none;
                    cursor: pointer;

                    &:hover{
                        background-color: $lightGreenBackground;
                    }
                }
            }
        }

        .name, .phone, .email, .address{
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            label{
                font-size: 1.1rem;
                font-weight: 500;
                width: max-content;
            }

            input{
                padding: 5px;
                width: 50%;
                font-size: 1rem;
            }

            textarea{
                resize: none;
            }
        }

        h2{
            font-size: 1.3rem;
            font-weight: 400;
        }

        .submit{
            border: none;
            font-size: 1.1rem;
            margin-top: 10px;
            background-color: $greeLine;
            color: white;
            padding: 10px;
            border-radius: 5px;
            width: max-content;
            cursor: pointer;
        }

    }
}

@keyframes slide {
    from {
        transform: translateX(350px);
    }
    to {
        transform: translateX(0);
    }
}