@import "../global";

.main-owner-container{
    background-color: $greenBackground;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;

        .owner-title-container{
            display: flex;
            flex-direction: row;
            margin-left: 50px;
            column-gap: 20px;

            h1{
                font-size: 1.7rem;
                font-weight: 500;
                color: $greeLine;
            }
        }
    }

    .owner-control{
        background-color: $green1;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span{
            font-size: 1rem;
            background-color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 1rem;
        }

        button{
            background-color: white;
            border: none;
            border-radius: 5px;
            display: flex;
            padding: 5px;
            cursor: pointer;
            font-size: 1rem;
        }
    }
}
