@import "../global.scss";

.container{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: $greenBackground;
    justify-content: center;
    align-items: center;
    z-index: 300;

    .profile{
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        z-index: 300;
        border-radius: 5px;
        padding: 4vmin;
        column-gap: 20px;
        row-gap: 20px;
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.11);
        position: relative;
        flex-basis: 90ch;
        
    }

    .close{
        position: absolute;
        top: 2%;
        right: 2%;
    }
}

.info{
    background-color: white;
    flex: 2;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    justify-content: space-around;
    row-gap: 20px;

    h2, h3{
        font-weight: 500;
    }

    .telephone{
        display: flex;
        flex-direction: column;
    }

    .app{
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        div{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            div{
                display: flex;
                flex-direction: column;

                span{
                    text-align: center;
                }
            }
        }
    }

    .addrs{
        word-break: break-all;
        hyphens: auto;
        width: 250px;
    }
}

.petList{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    row-gap: 20px;
    flex: 2;
    flex-grow: 2;

    h3{
        font-weight: 500;
    }

    ul{
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        li{
            padding: 5px;
            border-radius: 5px;
            background-color: #CDF0EA;
        }
    }
}

.appointments{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-grow: 2;

    .btn_container{
        display: flex;
        flex-direction: row;
        
        & button:nth-child(1){
            border-radius: 8px 0 0 8px;
        }

        & button:nth-child(2){
            border-radius: 0 8px 8px 0;
        }

        button{
            font-size: 1rem;
            padding: 5px;
            cursor: pointer;
            border: none;
        }
    }

    .type_appointments{
        height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;

        .list{
            padding: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            li{
                background-color: #CDF0EA;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                width: 100%;
                position: relative;
                overflow: hidden;
                column-gap: 10px;
                justify-content: space-between;

                & span:nth-child(1), & span:nth-child(2){
                    font-weight: 600;
                }
            }
        }
    }
}

@keyframes pageAnim {
    
    from {
        opacity: 0;
        transform: scale(1.02);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}