$breakpoints: (
  sm: 480px,
  sm2: 680px,
  md: 768px,
  lg: 976px,
  lg2: 1280px,
  xl: 1440px,
);

@mixin media-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @media screen and (min-width: $value) {
      @content;
    }
  }

  @warn "Unknown `#{$breakpoint}` in $breakpoints";
}

@mixin media-down($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @media screen and (max-width: $value) {
      @content;
    }
  }

  @warn "Unknown `#{$breakpoint}` in $breakpoints";
}
