@import "../global.scss";

.main-medical-record-container{
    background-color: $greenBackground;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;

        .medical-records-header{
            display: flex;
            flex-direction: row;
            margin-left: 50px;
            column-gap: 20px;

            h1{
                font-size: 1.7rem;
                font-weight: 500;
                color: $greeLine;
            }
        }
    }

    .medical-record-control-container{
        background-color: $green1;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 51px;
    }
}

.main-record-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;

    .record-container{
        background-color: white;
        height: fit-content;
        padding: 20px;
        -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.11); 
        box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.11);
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        column-gap: 20px;
        align-items: center;

        .record-info{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }

        .dot-container{
            display: flex;
            flex-direction: column;
            border: none;
            background-color: transparent;
            row-gap: 2px;

            .dot{
                background-color: $greeLine;
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
        }
    }

}