@import "../global";

.main-misc-container{
    background-color: $greenBackground;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;

        .misc-title-container{
            display: flex;
            flex-direction: row;
            margin-left: 50px;
            column-gap: 20px;

            h1{
                font-size: 1.7rem;
                font-weight: 500;
                color: $greeLine;
            }
        }
    }

    .misc-control{
        background-color: $green1;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 51px;

        span{
            font-size: 1rem;
            background-color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 1rem;
        }

        button{
            background-color: white;
            border: none;
            border-radius: 5px;
            display: flex;
            padding: 5px;
            font-size: 1rem;
        }
    }
}

.main-misc-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    align-content: flex-start;
    grid-column-gap: 20px;
    column-gap: 20px;
    grid-row-gap: 20px;
    row-gap: 20px;

    .container{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: -moz-fit-content;
        height: fit-content;
        padding: 20px;
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.11);
        border-radius: 5px;
        grid-column-gap: 20px;
        row-gap: 10px;

        div{
            display: flex;
            flex-direction: column;
        }
    }
}