.calendar-control-container{
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-around!important;
    column-gap: 5px!important
}

.calendar-control-container button{
    background-color: transparent!important;
    border: none!important;
    cursor: pointer!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.calendar-control-container button img{
    width: 15px!important;
}

.calendar-control-container .bnt-month-view:nth-child(2), .bnt-year-view .bnt-month-view:nth-child(2) {
    font-size: 1rem!important;
    width: 400%!important;
}

.calendar-control-container button:nth-child(3){
    transform: rotateY(180deg)!important;
}