@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/fonts/fonts.scss";
@import "./assets/scss/colors/colors";
@import "./assets/scss/breakpoints";
@import "./assets/scss/variables";

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "Public Sans", sans-serif;
}

main {
  width: 100vw;
  height: calc(100% - $top-bar-width);
}

h1 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 24px;

  @include media-up(lg) {
    font-size: 24px;
    line-height: 36px;
  }
}

h2 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
  color: $black;
}

.grey-border {
  border: #e8ecef solid 1px;
}

.light-grey-border {
  border: #e8ecef26 solid 1px;
}

.shadow-1 {
  box-shadow: 0px 5px 25px 0px rgba(91, 91, 91, 0.1);
  -webkit-box-shadow: 0px 5px 25px 0px rgba(91, 91, 91, 0.1);
  -moz-box-shadow: 0px 5px 25px 0px rgba(91, 91, 91, 0.1);
}

.shadow-2 {
  box-shadow: 0px 10px 40px 0px rgba(91, 91, 91, 0.1);
  -webkit-box-shadow: 0px 10px 40px 0px rgba(91, 91, 91, 0.1);
  -moz-box-shadow: 0px 10px 40px 0px rgba(91, 91, 91, 0.1);
}

.shadow-3 {
  box-shadow: 0px 20px 50px 0px rgba(91, 91, 91, 0.1);
  -webkit-box-shadow: 0px 20px 50px 0px rgba(91, 91, 91, 0.1);
  -moz-box-shadow: 0px 20px 50px 0px rgba(91, 91, 91, 0.1);
}

.base-Input-root input {
  width: 100%;
}

.base-Input-root.base--error {
  border-color: $pink;

  input {
    border-color: $pink;
  }

  &.input-text input {
    &:focus,
    &:focus-visible {
      box-shadow: $pink 0px 0px 0px 3px;
    }
  }
}

.input-text input {
  &:focus,
  &:focus-visible {
    border-color: $light-gray;
    box-shadow: $light-gray-4 0px 0px 0px 3px;
    outline: none;
  }
}

.base-Input-adornedEnd {
  border: none;

  &.base--focused {
    border-color: $light-gray;
    box-shadow: $light-gray-4 0px 0px 0px 3px;
  }

  &.base--error.base--focused {
    box-shadow: $pink 0px 0px 0px 3px;
  }

  input {
    outline: none;
  }
}

.blue-btn {
  background-color: $blue;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  padding: 12px 24px;

  &:hover {
    background-color: $light-gray-2;
    color: $light-gray-4;
  }
}

.navigation-container ul li a.active,
.active div {
  color: $blue;
}

.navigation-container ul li a.active::after,
.active:after {
  background-color: $blue;
}

.navigation-container ul li a.active div,
.active div {
  background-color: #f8fafb;
}

.chart-card .recharts-tooltip-cursor,
.chart-card .recharts-active-dot {
  display: none;
}

.chart-card .recharts-line {
  cursor: default;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.dashboard-chart.base--selected {
  background-color: $light-gray-3;
  color: $blue;
}

header {
  border-bottom: 1px solid $light-gray;
}

.btn-hover {
  &:hover {
    background-color: $light-gray;
    border-radius: 4px;
  }
}

.checkbox {
  position: relative;

  input {
    &:focus:not(:focus-visible) {
      outline: none;
    }
  }

  input:focus + label {
    outline: dashed 2px #d3d3d3;
    outline-offset: 5px;
  }

  input:checked + label {
    &:before {
      background: $blue;
      border-color: $blue;
    }

    & > svg path {
      display: block;
    }
  }

  label {
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      background-color: $light-gray;
    }
  }

  svg {
    position: absolute;
    left: 4px;
    top: 8px;
    width: 11px;
    height: 8px;

    path {
      display: none;
    }
  }
}

.default-button {
  color: $light-gray-4;
  border: 1px solid $light-gray;
  border-radius: 6px;
  padding: 15px 24px;
  font-weight: 600;
  max-width: 350px;
  width: 100%;
  height: fit-content;

  &-open {
    background-color: $light-gray-2;
  }

  &:hover {
    background-color: $light-gray-2;
  }

  &-blue {
    background-color: $blue;
    color: white;

    &:hover {
      color: $light-gray-4;
    }
  }
}

.skeleton {
  background-color: #eceef1;
  border-radius: 2px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.dropdown-button {
  height: fit-content;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  padding: 15px 24px;
  border: 1px solid $light-gray;
  border-radius: 6px;
  text-align: start;
  color: $gray;

  &-error {
    border-color: $pink;

    &:focus {
      outline: 2px solid $pink;
    }
  }
}
