@import "../global.scss";

.container{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 200;

    .link_background{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.137);
        width: -webkit-fill-available;
        height: 100%;
    }

    .type{
        position: fixed;
        z-index: 50;

        .form{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            position: fixed;
            right: 0px;
            top: 0;
            height: 100%;
            background-color: white;
            padding: 20px;
            width: 350px;
            z-index: 350;
            animation: slide 0.2s ease-out forwards;

            h2{
                font-size: 1.3rem;
                font-weight: 400;
            }

            label{
                font-size: 1.1rem;
                font-weight: 500;
            }

            .name{
                margin-top: 20px;
            }

            .name, .color{
                display: flex;
                flex-direction: row;
                column-gap: 10px;
                align-items: baseline;
                align-items: center;

                input{
                    padding: 5px;
                    font-size: 1rem;
                }
            }
            
            .error{
                color: $pink3;
                font-size: 1rem;
                font-weight: 600;
            }

            .color{
                position: relative;

                .color_picker{
                    width: 30px;
                    height: 30px;
                    border: 1px solid black;
                    border-radius: 50%;
                    background-color: transparent;
                }
            }

            button{
                border: none;
                font-size: 1.1rem;
                margin-top: 10px;
                background-color: #3A6351;
                color: white;
                padding: 10px;
                border-radius: 5px;
                width: max-content;
                cursor: pointer;
            }
        }
    }

    .message{
        position: absolute;
        top: 10%;
        right: 2%;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.11);
        animation: slideMsg 2s cubic-bezier(0,.91,.19,.99) forwards;
        // border-left: 5px solid black;
        z-index: 120;

        span{
            font-weight: 600;
        }
    }

    .close{
        position: absolute;
        z-index: 150;
        top: 3%;
        right: 2%;
    }
}

@keyframes slide {
    from {
        transform: translateX(350px);
    }
    to {
        transform: translateX(0);
    }
}


@keyframes slideMsg {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    20% {
        opacity: 1;
        transform: translateX(-20px);
    }
    
    95% {
        opacity: 1;
        transform: translateX(-20px);
    }

    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}