@import "../global.scss";

[minimize="false"]{
    --rotate: rotate(0.5turn);
    --minimize: 220px;
    --hide: block;
    --visible: visible;
    --opacity: 1;
    --active-color: #ffe7ec;
    --img-color: transparent;
    --display: block;
    --translate: translateX(0);
}

[minimize="true"]{
    --rotate: rotate(0turn);
    --minimize: 62px;
    --hide: none;
    --visible: hidden;
    --opacity: 0;
    --active-color: transparent;
    --img-color: #ffe7ec;
    --display: none;
    --translate: translateX(-130px);
}

[showsidebar = "false"]{
    --trans: translateX(-350px);
}

[showsidebar = "true"]{
    --trans: translateX(0);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 15px;
    font-size: 1.3rem;
    border-right: 2px solid #c0c0c0;
    background-color: white;
    // width: var(--minimize);
    // transition: width 0.2s ease-in;
    margin-left: 10px;
    // transform: var(--translate);
    // transition: transform 0.2s ease-in;
    // transform: rotateX(30deg);
    flex-basis: 5rem;
    flex-grow: 1;

    .close{
        display: none;
    }

    img{
        width: 30px;
    }

    .menu{
        cursor: pointer;
        transform: var(--rotate);
        transition: transform 0.2s ease-in;

        img{
            width: 28px;
        }

    }

    .link_container{
        margin-top: 80px;

        .list{
            width: max-content;
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            .link{
                display: flex;
                flex-direction: row;
                column-gap: 10px;
                padding: 10px;

                span{
                    opacity: var(--opacity);
                    visibility: var(--visible);
                    transition: visibility 1s ease-in-out 2s;
                    // margin-left: 35px;
                    display: var(--display);
                    font-size: 1.2rem;
                }
                
            }

            .settings{
                margin-top: 80px;
            }

        }
    }

}

.minimize{
    width: 50px;
}

.hide-elements{
    display: none;
}

@media only screen and (max-width: 1200px) {
    
    .main{
        position: absolute;
        margin: 0;
        left: 0;
        transform: var(--trans);
        z-index: 100;
        transition: transform 0.2s ease-in;
        height: 100%;

        .close{
            display: flex;
            border: none;
            background-color: transparent;
            font-size: 1.1rem;
            font-weight: 500;
        }

        .menu{
            display: none;
        }

        .link_container{
            .list{
                .link{
                    span{
                        opacity: 1;
                        visibility: visible;
                        display: flex;
                    }
                }
    
                .settings{
                    margin-top: 80px;
                }
    
            }

        }

    }

}