@import "../global";

.container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .inner_container{
        display: grid;
        height: calc(100vh - 180px);
        grid-template-columns: repeat(7, 1fr);
        width: 90%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        border: 1px solid $borderCalendar;

        .day_name{
            justify-self: center;
        }

        & .day_month:nth-last-child(7n){
            border-left: none;
        }
        
        & .day_month:nth-child(7){
            border-radius: 0 0 0 10px;
        }

        & .day_month:last-child{
            border-radius: 0 0 10px 0;
        }

        .day_month{
            border-left: 1px solid $borderCalendar;
            border-top: 1px solid $borderCalendar;
            display: flex;
            flex-direction: column;
            padding: 5px;
            row-gap: 20px;

            & span:first-child{
                font-weight: 600;
                font-size: 1.2rem;
                color: black;
            }

            .count{
                color: $cardTitle;
                font-weight: 500;
            }
        }
    }


}