@import "../../assets/scss/colors/colors";

.card {
  max-width: 364px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid $light-gray;
  background-color: white;
  padding: 24px;

  h2 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
  }

  p {
    font-size: 24px;
    line-height: 36px;
  }
}

.chart {
  height: 56px;
}
