@import "../../assets/scss/colors/colors";
@import "../../assets/scss/breakpoints";

.card {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border-sidebar);
  background-color: white;
  padding: 24px;
  row-gap: 10px;

  @include media-up(lg2) {
    max-width: 364px;
  }

  @include media-down(lg2) {
    // max-width: none;
  }

  h2 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
  }

  p {
    font-size: 24px;
    line-height: 36px;
    color: $black;
  }

  span {
    color: $black;
  }
}

.finished {
  font-size: 16px;
}

.number {
  font-size: 24px;
}
