@import "../../assets/scss/colors/colors";

.input {
  label {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 12px;
    color: var(--text);
  }

  span {
    margin-top: 5px;
    display: block;
  }
}

.input-container,
.input-container-password {
  input {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding: 15px 24px;
    border-radius: 5px;
    width: 100%;
    background-color: var(--bg-buttons-appointments);
  }
}

.input-container input {
  border: 1px solid var(--border-sidebar);
  color: var(--text);
}

.input-container {
  input {
    order: 2;
  }

  button {
    background-color: var(--patients-list);
    border-radius: 4px;

    svg {
      fill: var(--button-svg);
    }

    &:active {
      background-color: var(--bg-active-link);
    }

    &:first-of-type {
      order: 3;
      margin-left: 4px;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &:last-of-type {
      order: 1;
      margin-right: 4px;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

.input-container-password {
  border: 1px solid var(--border-sidebar);

  input {
    padding-right: 12px;
  }
}

.password-toggler {
  padding-right: 24px;
}
