@import "../../assets/scss/colors/colors";
@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.add-owner-content-container {
  max-width: 550px;
  width: 100%;
  border-right: 1px solid $light-gray;
  border-radius: 10px;
}

.title {
  font-size: 22px;
  line-height: 32px;
  padding: 16px 0 16px 24px;
  border-bottom: 1px solid $light-gray;
}

.form-container {
  padding: 24px;
  height: 100%;

  form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &-row {
    column-gap: 12px;

    @include media-down(sm2) {
      flex-direction: column;
    }
  }
}

.phone-type {
  &-content {
    width: 200px;
    z-index: 9999;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
    color: $black;
    border: 1px solid $light-gray;

    &-item {
      width: 100%;
      padding: 5px;
      border-radius: 6px;
      font-size: 14px;
      cursor: default;

      &:focus,
      &:hover {
        background-color: $light-gray-2;
      }
    }
  }
}

.select-type {
  flex: 3;
}
