@import "../../assets/scss/colors/colors";

.sorting-arrow-placeholder {
  width: 24px;
  height: 24px;
}

.add-owner-container {
  padding: 0 0 12px;

  button {
    font-size: 14px;
    line-height: 21px;
    border: 1px solid var(--border-sidebar);
    background-color: white;
    border-radius: 6px;

    div {
      padding: 6px 12px;
    }

    span {
      padding: 6px 12px;
      border-left: 1px solid var(--border-sidebar);
    }

    &:active {
      background-color: var(--bg-button-appointments);
    }
  }
}
