@import "../../assets/scss/colors/colors";

table.table-container {
  border-radius: 8px 8px 0 0;
  border-spacing: 0px;
  border-collapse: separate;
  border: 1px solid var(--border-sidebar);
  overflow: hidden;

  thead tr:hover {
    background-color: var(--bg-button-appointments);
  }

  tr th {
    color: var(--text);
    font-weight: 500;
    text-align: left;

    svg {
      fill: var(--button-svg);
    }
  }

  tr th,
  tr td {
    padding: 18px;
    border-bottom: 1px solid var(--border-sidebar);
  }

  tr td {
    font-size: 14px;
    font-weight: 300;
    color: var(--text);
  }

  tr {
    background-color: var(--calendar-off-range);

    &:hover {
      background-color: var(--bg-button-appointments);
    }

    &:last-of-type td {
      border-bottom: none;
    }
  }
}

.base-TablePagination-actions {
  display: flex;
  justify-content: center;

  button:disabled {
    opacity: 0.4;
  }
}

.base-TablePagination-spacer {
  display: none;
}

.base-TablePagination-displayedRows {
  text-align: center;
  font-weight: 500;
}

.pagination-container {
  position: sticky;
  bottom: 0;
  background-color: var(--calendar-off-range);
  border-radius: 0 0 8px 8px;
  border: 1px solid var(--border-sidebar);
  padding: 12px 0;

  &:after {
    content: "";
    width: calc(100% + 50px);
    height: 50px;
    background-color: var(--calendar-off-range);
    position: absolute;
    top: calc(100% + 2px);
    left: -25px;
  }

  &:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    -webkit-box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.08);
  }
}
