@import "../../assets/scss/colors/colors";

.add-owner-container {
  padding: 0 0 12px;

  button {
    font-size: 14px;
    line-height: 21px;
    border: 1px solid var(--border-sidebar);
    border-radius: 6px;

    div {
      padding: 6px 12px;
    }

    span {
      padding: 6px 12px;
      border-left: 1px solid var(--border-sidebar);
    }

    &:active {
      background-color: var(--bg-active-link);
    }
  }
}

.phone {
  span:first-of-type {
    font-size: 10px;
    line-height: 10px;
  }
}

.item {
  font-size: 10px;
  line-height: 10px;
  padding: 6px;
  color: var(--text);

  &:focus,
  &:active {
    background-color: var(--bg-active-link);
  }

  a {
    font-size: 14px;
  }
}

.content {
  border-radius: 4px;
  border: 1px solid var(--border-sidebar);
}
