@import "../global.scss";

.card{
    padding: 1.2vmin;
    background-color: white;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 2;
    flex-shrink: 1;

    h2{
        color: $cardTitle;
        font-weight: 500;
        font-size: clamp(0.9rem, 2vw, 1rem);
    }

    span{
        font-weight: 600;
        font-size: clamp(1rem, 5vw, 2rem);
    }

}

.app{
    display: flex;
    flex-direction: column;
    flex: 4 2;
    row-gap: 10px;
    position: relative;
    padding: 1.2vmin;
    background-color: white;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2{
        color: $cardTitle;
        font-weight: 500;
        font-size: clamp(0.9rem, 2vw, 1rem);
    }
    
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 1vmin;

        div{
            display: flex;
            flex-direction: column;
        }
    }

    span{
        font-weight: 600;
        font-size: clamp(1rem, 5vw, 2rem);
    }
}

.top_list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    li{
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 1.05rem;
    }
}