$red: #FFDFE6;
$green1: #CDF0EA;
$green2: #B5EAEA;
$greenText1: #135A5A;
$greenBackground: #ECF9F7;
$greeLine: #3A6351;
$HomeBackground: #ECF9F7;
$infoText: #919191;
$lightGreenBackground: #e7fdf9;
$pink1: #FFDFE6;
$pink2: #F38BA0;

@mixin dotContainer {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: transparent;
    column-gap: 2px;
    position: absolute;
    top: 45%;
    right: 2%;
    cursor: pointer;
}

@mixin dot {
    background-color: $greeLine;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

@mixin checkboxContainer {
    position: absolute!important;
    height: 1px;
    width: 1px;
    // overflow: hidden;
    // clip: rect(1px, 1px, 1px, 1px);
}

@mixin name {
    
}