$red: #FFDFE6;
$green1: #CDF0EA;
$green2: #B5EAEA;
$greenText1: #135A5A;
$greenBackground: #ECF9F7;
$greeLine: #3A6351;
$HomeBackground: #ECF9F7;
$infoText: #919191;
$lightGreenBackground: #e7fdf9;
$pink1: #FFDFE6;
$pink2: #F38BA0;
$darkerGrey: #585858;
$cardTitle: #73788b;
$pink3: #f32851;
$lightGrey: #e7e7e7;

@mixin dotMainContainer {
    position: absolute;
    top: 20%;
    right: 2%;
}

@mixin dotContainer {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: transparent;
    column-gap: 2px;
    // position: absolute;
    // top: 30%;
    // right: 2%;
    cursor: pointer;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: $lightGrey;
        transition: 0.2s ease-in;
    }
}

@mixin dot {
    background-color: $greeLine;
    width: 6px!important;
    height: 6px!important;
    border-radius: 50%;
    padding: 0;
    box-shadow: none;
    border: none;
}

@mixin checkboxContainer {
    position: absolute!important;
    height: 1px;
    width: 1px;
    // overflow: hidden;
    // clip: rect(1px, 1px, 1px, 1px);
}

@mixin name {
    
}