@import "global.scss";

.main-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    // overflow-y: hidden;

    .content-container{
        // width: 100%;
        // height: 100%;
        flex-basis: 0;
        flex-grow: 999;
    }
}