@import "../../assets/scss/colors/colors";

.container {
  margin-top: 24px;
  border: 1px solid var(--border-sidebar);
  border-radius: 8px;

  h2 {
    font-size: 16px;
    line-height: 24px;
    // margin-bottom: 12px;
    padding: 10px 5px 10px 20px;
  }
}

.panel-chart {
  height: 200px;

  tspan {
    fill: var(--text);
  }
}

.bar-chart-container {
  padding: 5px 20px 20px;
}

.tooltip {
  border: 1px solid var(--border-sidebar);
  background-color: var(--bg-active-link);
  padding: 3px 16px;
  border-radius: 100px;

  span {
    font-size: 14px;
    line-height: 21px;
    color: var(--text);
  }
}

.tab-list {
  border: 1px solid var(--border-sidebar);
  border-radius: 6px;
  font-size: 14px;
  line-height: 21px;
  color: $light-gray-4;
  width: fit-content;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 0;

  button {
    padding: 4px 12px;

    &:nth-of-type(2) {
      border-left: 1px solid var(--border-sidebar);
      border-right: 1px solid var(--border-sidebar);
    }
  }
}
